html, body {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow-y: hidden;
    touch-action: none;
    /*noinspection CssUnknownProperty*/
    overscroll-behavior-y: none;
}

body {
    width: calc(100vw - 3px);
    height: calc(100vh - 3px);
    margin: auto;
}

#flags-button {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
}

#flags-dialog section {
    padding-bottom: 1em
}

#flags-dialog-close {
    position: absolute;
    top: 1rem;
    right: 1rem;
}


#script-button {
    position: absolute;
    bottom: 4rem;
    right: 1rem;
}